<div id="top" class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a href="/" class="item">Directory</a>
        <a href="/organ" class="active item">Pi Organ</a>
        <a href="/terminal" class="item">Terminal</a>
        <a href="/links" class="item">Awesome Links</a>
        <a href="/about" class="item">About Us</a>
        <a href="/contact" class="item">Contact Us</a>
      </div>
    </div>
  
    <div class="ui container left aligned segment" style="margin-top:50px;">
      <h2 class="ui header" style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;" >Currently Playing:&nbsp;
        <span id="song-title"></span>
        <button class="ui right floated red button" onclick="skip()">Skip</button>
        <button class="ui right floated green button" onclick="restart()">Restart</button>
      </h2>
      <h3 class="ui header" style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">Song Duration:&nbsp;
        <span id="song-length"></span>
      </h3>
    </div>
    
    <div class="ui container left aligned segment" style="margin-top:50px;">
      <h2 class="ui header">Song Queue:&nbsp;<span id="num-songs"></span></h2>
      <div class="ui divider"></div>
      <div id ="queue">
        <h2 class="ui header" style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">
          Title:&nbsp;<span id="queue-title-1"></span>
          <button class="ui right floated red button" onclick="remove_song(1)">Remove from Queue</button>
          <br>
          Length:&nbsp;
          <span id="queue-length-1"></span>
        </h2>
      <div class="ui divider"></div>
      </div>
      <span class="ui header">Request a song:&nbsp;</span>
      <select class="ui search dropdown">
        <option value="default">Select a Song</option>
        <option value="One">We are Number One</option>
        <option value="Choice2">Other song choice</option>
      </select>
      <button id="add-button" class="ui right floated blue disabled button" onclick="add()">
        Add to Queue
      </button>
    </div>

  
  </div>
  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">More</h4>
          <div class="ui inverted link list">
            <a href="/about" class="item">About Us</a>
            <a href="/contact" class="item">Contact Us</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Sponsors</h4>
          <a href="https://projx.mit.edu/">Powered by Projx</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/javascripts/organ.js"></script>