


<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a href="/" class="active item">Directory</a>
    <a href="/organ" class="item">Pi Organ</a>
    <a href="/terminal" class="item">Terminal</a>
    <a href="/links" class="item">Awesome Links</a>
    <a href="/about" class="item">About Us</a>
    <a href="/contact" class="item">Contact Us</a>
  </div>
</div>

<!-- Page Contents -->
<div id="top" class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a href="/" class="active item">Directory</a>
        <a href="/organ" class="item">Pi Organ</a>
        <a href="/terminal" class="item">Terminal</a>
        <a href="/links" class="item">Awesome Links</a>
        <a href="/about" class="item">About Us</a>
        <a href="/contact" class="item">Contact Us</a>
      </div>
    </div>

    <div class="ui text container">
      <h1 class="ui inverted header">
        Welcome to Room 205
      </h1>
      <h2>Home to Angel and Jeremy</h2>
    </div>

    <img src="/images/next205.svg">

  </div>
  <div id="details" class="ui center aligned container"  style="margin-top:5px !important;">
    <a class="goto-details">
    <i class="big inverted angle down circular link icon"></i>
    </a>
  </div>
  <div class="ui vertical stripe segment">
    <div class="ui text container">
      <h3 class="ui header">Midi Pipe Organ</h3>
      <p>This is a machine that is capable of playing organ music from Midi files, it is controlled by a Raspberry Pi that is linked to a series of fans and solenoids, which control the airflow through the organ pipes.</p>
      <a href="/organ" class="ui large button">Play some music!</a>
      <div class="ui divider"></div>
      <h3 class="ui header">Terminal.js</h3>
      <p>Terminal.js is a javascript browser based terminal, that is designed to emulate the linux terminal environment. The terminal emulator is being provided functionality, which should make using it in the browser activate state on the server end.</p>
      <a href="/terminal" class="ui large button">Show me!</a>
    </div>
    <div class="ui center aligned container">
      <a class="goto-top">
        <i class="big inverted angle up circular link icon"></i>
      </a>
    </div>

  </div>


  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">More</h4>
          <div class="ui inverted link list">
            <a href="/about" class="item">About Us</a>
            <a href="/contact" class="item">Contact Us</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Sponsors</h4>
          <a href="https://projx.mit.edu/">Powered by Projx</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/javascripts/index.js"></script>